@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import "@scss/variables.scss";

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 32px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: all 0.4s ease;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  // background: rgba(20, 20, 20, 0.3); // Dark glass effect

  &.blurredBg {
    // background: rgba(20, 20, 20, 0.7);
    backdrop-filter: blur(12px);
  }

  h1 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;

    a {
      text-decoration: none;
      color: $body-text;
      transition: color 0.3s ease;
      &:hover {
        color: #ff7b54;
      }
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  ul.navigation {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;

    li a {
      text-decoration: none;
      color: $body-text;
      font-size: 18px;
      padding: 10px;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #ff7b54;
        transform: translateY(-2px);
      }
    }
  }
}

// Mobile Responsiveness
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
  .buttons {
    flex-direction: column;
    gap: 12px;
  }
  ul.navigation {
    gap: 14px;
    font-size: 16px;
  }
}
