@import "@scss/variables";
.homeSections {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section {
  padding: 20px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

h1.sectionTitle {
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
}

.viewMore {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: $brand-color;
  transition: color 0.3s;
}

.viewMore:hover {
  // color: #0056b3;
}

/* Horizontal scrolling for cards */
.sectionItems {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 10px;
  scrollbar-width: none; /* Hide scrollbar for cleaner look */
}

.sectionItems::-webkit-scrollbar {
  display: none;
}
