@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 20px;
  font-family: "Noto Sans", sans-serif;
  transition: all 1s ease;
  background-size: cover;
}

body[data-theme="light"] {
  --body-background: white;
  --body-text: black;
  --primary-heading: black;
  --primary-border: #c4c4c4;
  --primary-highlight: #c8ac09;
}
body[data-theme="dark"] {
  --body-background: black;
  --body-text: white;
  --primary-heading: white;
  --primary-border: white;
  --primary-highlight: #ffd700;
}

body {
  background-color: var(--body-background);
  color: var(--body-text);
}
