@import "scss/colors";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  // margin: 0 20px;
  font-family: "Noto Sans", sans-serif;
  transition: all 1s ease;
  background-size: cover;
}

// Theme Mixin
@mixin theme($theme) {
  @each $key, $value in map-get($themes, $theme) {
    --#{$key}: #{$value};
  }
}

// Apply Themes
body[data-theme="light"] {
  @include theme(light);
}

body[data-theme="dark"] {
  @include theme(dark);
}

body {
  background-color: var(--body-background);
  color: var(--body-text);
}
