$body-background: var(--body-background);
$body-text: var(--body-text);
$primary-heading: var(--primary-heading);
$primary-border: var(--primary-border);
$primary-highlight: var(--primary-highlight);
$secondary-bg: var(--secondary-bg);
$secondary-text: var(--secondary-text);
$button-bg: var(--button-bg);
$button-text: var(--button-text);
$card-bg: var(--card-bg);
$card-border: var(--card-border);
$input-bg: var(--input-bg);
$input-border: var(--input-border);
$blurred-bg: var(--blurred-bg);
